.form {
  margin: 0 auto;
}
.form.sm {
  max-width: 500px;
}

.form .form-control {
  font-size: 1.0rem;
  width: 100%;
  padding: 8px;
  margin: 4px 0;
  border: 1px solid #dadada;
  border-radius: 4px;
}
.form .form-control.sm {
  width: 50%;
}
.form .field {
  margin: 10px 0;
}
.form label {
  font-size: 1.1rem;
  padding: 10px 0;
  display: inline-block;
}
.form input {
  background-color: transparent;
  border: 0px;
  border: transparent;
  /* margin: 20px;
  padding: 10px; */
  font-size: 18px;
  border-bottom: 2px solid #fff;
}
.form .form-actions {
  display: flex;
  justify-content: flex-end;
  padding: 8px 0;
  gap: 4px;
}
.form input[type=submit], button.primary, a.primary {
  background-color: dodgerblue;
  border: 2px solid dodgerblue;
  font-size: 18px;
  width: 50%;
  height: 40px;
  margin-top: -5px;
  color: #fff;
}
.form input[type=submit]:disabled, button.primary:disabled {
  background-color: #bfc7ce;
  border: 2px solid #bfc7ce;
}
